body{

    background-color: #1a1a1a;
    padding: 0;
    margin: 0;
    
  
}
.banner{
height: 800px;
width: 1380px;
background-image: url("./assents/banner.png"); /*ele adiciona uma imagem como fundo*/
background-repeat: cover;
display: flex;
align-items: center;}

li a{

    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    padding: 25PX;
}


ul{
    display: flex; /* Ativa a propriedade de alinhamento*/
    flex-direction: row; /*coloca os elementos na horizontal*/

}

li{
    list-style: none; /*Remove os pontos da lista*/
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: space-between;
}


#logo{

    height: 100px;
    width: 100px;

}
.bi{
    font-size: 30px;
    color: #4c544c;
}
.texto-banner{
    color: aliceblue;
    font-size: 25px;
}
.botao-banner{
width: 130px; 
height: 50px; 
border-radius:  55px; 
border: none;
color:#ffffff ;
font-weight: bold;
font-size: 19px;
background-color: #333333;
}
.banner-estrututa{

    width: 220px;

}

.section-banner{
    display: flex;
justify-content: center;
}