body{

    background-color: #1a1a1a;
    padding: 0;
    margin: 0;
    
  
}
.banner{
height: 500px;
width: 950px;
background-image: url("./assents/banner.png"); /*ele adiciona uma imagem como fundo*/
background-size: cover;
display: flex;
align-items: center;}

li a{

    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    padding: 25PX;
}


ul{
    display: flex; /* Ativa a propriedade de alinhamento*/
    flex-direction: row; /*coloca os elementos na horizontal*/

}

li{
    list-style: none; /*Remove os pontos da lista*/
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: space-between;
}


.logo{

    height: 100px;
    width: 100px;

}
.bi{
    font-size: 30px;
    color: #4c544c;
}
.texto-banner{
    color: aliceblue;
    font-size: 25px;
   padding: 30px;
    width: 220px;
}
.botao-banner{
width: 130px; 
height: 50px; 
border-radius:  55px; 
border: none;
color:#ffffff ;
font-weight: bold;
font-size: 19px;
background-color: #333333;
margin: 20px;
}
.banner-estrututa{

    width: 220px;
    padding: 30px;
    padding-top: auto;
}

.section-banner{
    display: flex;
justify-content: center;
}
.titulo{
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    
}
.estrutura-titulo{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.produtos{
    height: 430px;
    width: 250px;
}
.valor{
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}
.card-texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card{
    width: 250px; ;
    height: 430px; ;
}
.cores{
    height: 15px;
    width: 15px;
    border: none;
    border-radius: 55px;
    
}
.vermelho{
    background-color: red;

}
.azul{
    background-color: blue;
}
.amarelo{
    background-color: yellow;
}
.preto{
    background-color: black;
}
.caixa-cores{
    display: flex;
    flex-direction: row;
   margin-top: -23px;
}
.carousel{
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 20px;
}


.banner-xbox{
  
    height: 500px;
    width: 950px;
    background-image: url("./assents/x-box.png"); /* Ele adiciona uma imagem como fundo */
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: end;
    margin: 150px;
  }
  
  .estrutura-xbox{
   
    
  
    padding: 10px;
    color: white; 
  }
  
  .texto-xbox{
  
    color: aliceblue;
    font-size: 25px;
    
  
  }
  .estrutura-texto1{
    color: aliceblue;
    margin: 30px;
  }
  
  .texto-recursos{
    color: dimgray;
    display: flex;
  }
  
  .estrutura-universal{
  
    display: flex;
    align-items: center;
    flex-direction:row;
    gap: 160px;
    margin: 10px;
    
  }
  
  .estrutura-universal2{
   display: flex;
   background-color: #333333;
  
  }
  
  .estrutura-texto2{
    color: aliceblue;
    font-size: 17px;
    padding: 30px;
  }
  
  .caixa-icones2{
  
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    gap: 10px;
    padding-top: 10px;
    background-color: #333333;
  
  }
  
  .logo2{
    display: flex;
    justify-content: end;
  }




