body{

    background-color: #1a1a1a;
    padding: 0;
    margin: 0;
    
  
}
#banner{
height: 760px;
width: 1500px;
}
li a{

    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    padding: 20PX;
}


ul{
    display: flex; /* Ativa a propriedade de alinhamento*/
    flex-direction: row; /*coloca os elementos na horizontal*/

}

li{
    list-style: none; /*Remove os pontos da lista*/
}

#logo{

    height: 100px;
    width: 100px;

}
